{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.stock) }}
    <button type="submit" class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
